.content-wrapper{
  font-size: 20px;
  overflow: hidden;
}
#plotEuc,#plotMan{
  width: 400px !important;
  margin-top: 33px;
}
#left{
  float: left;
}
#right{
  float: left;
  margin-left: 20px;
}
#calcEuc, #calcMan{
  margin-left: 50px;
}